.cards {
  height: calc(100vh - 60px);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1100px;    
  margin: 0 auto;       
  overflow-y: auto;
  padding-bottom: 22rem;
}



.cards > .card:last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 520px;
}




.card {
  background: #2f2f2f;
  border-radius: 14px;
  padding: 1rem;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  }

 img{
    width: 100%;
    border-radius: 0.25rem;
 }

  h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .description {
    font-size: 0.95rem;
    opacity: 0.7;
    line-height: 1.4rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;

    .tag {
      background: #3f3f3f;
      padding: 0.4rem 0.9rem;
      border-radius: 20px;
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }

  .urls {
    margin-top: auto;
    display: flex;
    gap: 1rem;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      background: #444;

      &:hover {
        background: #555;
      }
    }
  }
}
