.window{
    height: 100%;
    
    background-color: rgb(51, 51, 51);
    border-radius: 0.75rem;
    overflow: hidden;
    color: rgb(169, 169, 169);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav {

        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid rgba(245, 245, 245, 0.09);

        .dots{
            display: flex;
            gap: 0.25rem;
            cursor: pointer;
            .dot{
                height: 10px;
                width: 10px;
                background-color: white;
                border-radius: 50%;
            }

            .red{
                background-color: #e32424;
            }
            .yellow{
                background-color: rgb(247, 247, 20);
            }
            .green{
                background-color: rgb(23, 227, 0);
            }
        }


    }

    .main-content{
   height: 100%;
    }
    *::-webkit-scrollbar {
        width: 8px;
    }
    *::-webkit-scrollbar-track {
        background: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: rgba(169, 169, 169, 0.5);
        border-radius: 20px;
        border: none;
    }

    
}