*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body,#root {
    height: 100%;
   width: 100%;

}
body{
    background-color: black;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(/public/doc-icons/mac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}